In [1]:
#importing all the required libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import sklearn.metrics
import math

In [2]:
#. Downloading the data
#Read the data for January. How many columns are there

df_jan = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')
df_feb = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

df_jan.shape

(3066766, 19)

In [3]:
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [4]:
#Computing duration
#Now let's compute the duration variable. It should contain the duration of a ride in minutes.
#What's the standard deviation of the trips duration in January?

df_jan['duration'] = df_jan['tpep_dropoff_datetime'] - df_jan['tpep_pickup_datetime']
df_jan.duration = df_jan.duration.apply(lambda td: td.total_seconds() / 60)
print(np.std(df_jan.duration))

42.5943442974141

In [7]:
3009173 / 3066766 * 100

98.1220282212598

In [ ]:
#One hot encoder
df_encoded = pd.get_dummies(df_jan[['PULocationID', 'DOLocationID']], 
                            columns = ['PULocationID', 'DOLocationID'], 
                            dtype=int)

In [ ]:
df_encoded.head()

In [ ]:
#Training a model
#Now let's use the feature matrix from the previous step to train a model.

#Train a plain linear regression model with default parameters
#Calculate the RMSE of the model on the training data
#What's the RMSE on train?

x = df_encoded.to_numpy()
y = df_jan_no_outliers['duration'].to_numpy()

In [ ]:
model = LinearRegression().fit(x, y)
y_pred = model.predict(x)

rmse = math.sqrt(sklearn.metrics.mean_squared_error(y, y_pred))
print(rmse)

In [ ]:
# Evaluating the model
#Now let's apply this model to the validation dataset (February 2023).
#What's the RMSE on validation?

# compute duration 
df_feb['duration'] = df_feb['tpep_dropoff_datetime'] - df_feb['tpep_pickup_datetime']
df_feb.duration = df_feb.duration.apply(lambda td: td.total_seconds() / 60)

# remove outliers
df_feb_no_outliers = df_feb.loc[(df_feb['duration'] >= 1) & (df_feb['duration'] <= 60)]

#one hot encoding
df_feb_encoded = pd.get_dummies(df_feb_no_outliers[['PULocationID', 'DOLocationID']], 
                            columns = ['PULocationID', 'DOLocationID'], 
                            dtype=int)
x_feb = df_feb_encoded.to_numpy()
y_feb = df_feb_no_outliers['duration'].to_numpy()

# train model
model = LinearRegression().fit(x_feb, y_feb)

# calculate RMSE 
y_feb_pred = model.predict(x_feb)
feb_rmse = math.sqrt(sklearn.metrics.mean_squared_error(y_feb, y_feb_pred))
print(feb_rmse)